*.swp
__pycache__
*.zip
.vscode
*.pt
*.egg-info
data/
.DS_Store
rt_all_data/
rt_results/
results_single/
experiments/
*scaled*.urdf
*scaled*.xml
nightly_data/
nightly_results/
demo_results/
demo_results_parallel/
*.pyc

# Moved to holosoma_data — no longer live here
models/
demo_data/
converted_res/
data_utils/SFU
data_utils/lafan
data_utils/models_smplx_v1_1
data_utils/human_body_prior

*.bvh
